{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% include "main/fragmentStyle.html" %}
</head>
<body>
<div class="position-fixed background"></div>
<section class="vh-100" >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h3 class="text-center mb-2">Reset password</h3>
							<h6 class="text-center mb-5">Enter your email, and we will send you a link to change your password.</h6>
              <form method="POST" class="">
								{% csrf_token %}

                <div class="form-outline mb-2">
									{{ form.email}}
	                {{ form.email.errors}}
                </div>

                <div class="d-flex justify-content-center">
                  <input type="submit" class="btn btn-outline-primary btn-lg" value="Send!"/>
                </div>

                <p class="text-center text-muted mt-5 mb-0"><a href="/" class="fw-bold text-body"><u>Login here!</u></a></p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>