{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>HomePage</title>
  {% include "main/fragmentStyle.html" %}
</head>
<body class="mt-5">

  {% include "main/fragmentNavBar.html" %}

  <div class="w-25 float-start my-5">
    <span></span>
  </div>

  <div class="w-50 float-start my-5">
    <div>
{#      <th:block th:each="file : ${fileFollow}" th:include="fragmentImgCardHolder.html"/>#}
    </div>
  </div>

  <div class="w-25 float-end my-5">
    <span></span>
  </div>

</body>
</html>