{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>LoginPage</title>
    {% include "main/fragmentStyle.html" %}
</head>
<body>

<div class="position-fixed background"></div>
<section class="vh-100" >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h3 class="text-center mb-5">Login!</h3>

                <form method="post" >
									{% csrf_token %}
                <div class="form-outline mb-4">
                  {{ form.username }}
                </div>

                <div class="form-outline mb-4">
                  {{ form.password }}
                </div>

                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}

                <div class="d-flex justify-content-center">
                  <input type="submit" class="btn btn-outline-success btn-lg" value="Log In!" name="submit_button"/>
                </div>

                <p class="text-center text-muted mt-5 mb-0"><a href=/forget_password class="fw-bold text-body"><u>Forgot password ?</u></a></p>
                <p class="text-center text-muted mt-2 mb-0" name="register"><a href=/register class="fw-bold text-body"><u>Create an account</u></a></p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>